<% if logged_in? %>
	<p style="text-align:center;">You are already logged in.</p>
	<p style="text-align:center;"><%= link_to "Sign out", logout_url %></p>
<% else %>
	<%= render :partial => "gadgets/sign_in" %>
<% end %>