<b>Status:</b>
<% if @archive.complete && !@archive.failure%>
  <span class="title"><%=h "ready for download" -%></span>
<% elsif @archive.failure -%>
  <span class="title" style="color:red;"><%=h "Failed: please re-create" -%></span>
<% else -%>
  <span class="title"><%=h "Unknown: click on the download button to check" -%></span>
<% end -%>