<div class="center">
	<% form_tag '/search/' do -%>
		<%= hidden_field_tag 'search_type', 'data extracts' -%>
		<%= text_field_tag :search_query, @search_query, :class=>"search_button" -%>
		<%= submit_tag "Search for Data Extracts" ,:title=> "Enter a term and click to search all data extracts"-%>
	<% end  -%>
</div>