<div class="sidebar">
<% if logged_in? -%>
	<ul class="vbuttons">
		<li><%= icon "new", new_script_url, "Create a data extract", nil, "Create a data extract" %></li>
	</ul>
	<%= render :partial=>controller.controller_name.downcase + "/search_bar" %>
<% end %>
</div>