div.faux_table_container {
    border:1px solid #996633;
    clear:both;
    height:510px;
    overflow:auto;
    width:720px;
    text-align:left;
    margin:auto;
}
div.faux_table_header_container {
	border:1px solid #996633;
	clear:both;
	width:720px;
	margin:auto;
	background-color: #ACCBE0;
}

ul.faux_table {
  float: left;
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-left: 0px;
  margin: 0;
}
ul.faux_table li {
    float: left;
}

li div {
  float: left;
}

.col1 {
  width: 25px;
}
.col2 {
  width: 25px;
}
.col3 {
  width: 150px;
}
.col4 {
  width: 350px;
}
.col5 {
  width: 75px;
}
.col6 {
  width: 59px;
}
.head1 {
  width: 25px;
}
.head2 {
  width: 25px;
}
.head3 {
  width: 150px;
}
.head4 {
  width: 350px;
}
.head5 {
  width: 75px;
}
.head6 {
  width: 75px;
}