div.faux_table_container {
    border:1px solid #996633;
    height:550px;
    overflow:auto;
    width:700px;
    text-align:left;
    margin:auto;
}
div.faux_table_header_container {
    border:1px solid #996633;
    width:700px;
    margin:auto;
    background-color: #ACCBE0;
}

ul.faux_table_odd {
    float: left;
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-left: 0px;
    margin: 0;
    background-color: #EEEEEE;
}
ul.faux_table_even {
    float: left;
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin-left: 0px;
    margin: 0;
}

* html ul.faux_table_odd {
    display: inline;
}
* html ul.faux_table_even {
    display: inline;
}

ul.faux_table_odd li {
    float: left;
}
ul.faux_table_even li {
    float: left;
}

* html ul.faux_table_odd li {
    display: inline;
}
* html ul.faux_table_even li {
    display: inline;
}
li div {
    float: left;
}

* html li div {
    display: inline;
}

.col1 {
    width: 25px;
}
.col2 {
    width: 25px;
}
.col3 {
    width: 150px;
}
.col4 {
    white-space:normal;
    width: 340px;
}
.col5 {
    width: 65px;
}
.col6 {
    width: 50px;
}
.head1 {
    width: 25px;
}
.head2 {
    width: 25px;
}
.head3 {
    width: 150px;
}
.head4 {
    width: 340px;
}
.head5 {
    width: 65px;
}
.head6 {
    width: 75px;
}