/*
    Document   : main_layout_extras
    Created on : Mar 1, 2010, 11:24:00 AM
    Author     : Ian
    Description:
        Style the main page and any other extra bits
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#doc4 {
/*    background-color:#FFFFFF;*/
}
#header {
/*    background-color:#ACCBE0;*/
}
#bd {
min-height: 550px;
/*    margin: 1em;*/
}
#notice_flash {
color: green;
font-weight: bold;
margin: 0.8em 0.8em;
line-height: 1.4;
}
.header-breadcrumbs ul {
float: left;
width: 560px;
list-style: none;
padding: 0 0 0 15px;
font-family: verdana,arial,sans-serif;
}
.header-breadcrumbs ul li {
display: inline;
padding: 0 0 0 10px;
background: transparent url(/images/bg_bullet_arrow.gif) no-repeat 0 50%;
font-weight: bold;
color: rgb(125,125,125);
font-size: 100%;
}
.header-breadcrumbs ul a {
color: rgb(70,122,167);
text-decoration: none;
}
.header-breadcrumbs ul a:hover {
color: rgb(42,90,138);
text-decoration: underline;
}
#search-bar-hd {
/*	position: relative;*/
	top: 0;
	text-align: center; 
	padding-top: 4px;
	margin-top:1.5em;
}
.people_table th, td {
	vertical-align:top;
}



