div.tableContainer {
    border:1px solid #996633;
    clear:both;
    height:650px;
    overflow:auto;
    width:700px;
    text-align:left;
    margin:auto;
}
div.headerContainer {
	border:1px solid #996633;
	clear:both;
	width:700px;
	margin:auto;
	background-color: #ACCBE0;
}
div.tableContainer table {
    width:684px;
}
thead.fixedHeader tr {
    position:relative;
}
tbody.scrollContent {

    width:100%;
    color:#000000;

}
thead.fixedHeader th {
    width:25px;
}
thead.fixedHeader th + th{
    width:25px;
}
thead.fixedHeader th + th +th{
    width:150px;
}
thead.fixedHeader th + th + th +th{
    width:350px;
}
body thead.fixedHeader th + th + th + th +th{
    width:75px;
}
/** Includes 16 pixels for scroll bar*/
thead.fixedHeader th + th + th  + th +th +th {
    width:75px;
}
tbody.scrollContent td {
    width:25px;
}
tbody.scrollContent td +td{
    width:25px;
}
tbody.scrollContent td + td +td{
    width:150px;
}
tbody.scrollContent td + td + td +td{
    width:350px;
}
tbody.scrollContent td + td + td +td +td{
    width:75px;
}
tbody.scrollContent td + td + td + td +td +td{
    width:59px;
}
td {
    text-align:left;
}
th.sortup {
    background-color: #1B619B;
    text-align:left;
}
th {
    background-color: #ACCBE0;
    text-align:left;
}

th.sortdown {
    background-color: #1B619B;
    text-align:left;
}
/**tr {
	background-color:transparent;
}*/
/**div.odd {
    background-color: #C0C0C0;
}
div.even {
    background-color: #F5F5F5;
}*/
div.odd {
    background-color: #EEEEEE;
}