<% if !sorted_matches.empty? -%>
	<%= "Users who downloaded these variables also selected " -%>
	<ul>
	<% sorted_matches.each_key do |key|-%>
		<% match_num = 0 -%>
		<% sorted_matches[key].each do |match| -%>
			<% linked_var = Variable.find(match.target_variable_id) -%>
			<li><%= link_to(linked_var.name + " from " + linked_var.dataset.name, variable_url(linked_var)) -%></li>
		<% end -%>
	<% end -%>
	</ul>
<% end -%>