<div id="comment_box" style="padding-top:1em;">
	<%= text_area_tag comment_div_id,nil,:rows=>3 -%>
	<%= button_to_remote "Add a public comment", :url => {:action => "add_comment", :controller => controller}, :with => "'words=' + encodeURIComponent($('#{comment_div_id}').value)  + '&resource_id=#{resource_id}'", :position => :bottom, :update=> "#{update_div_id}", :after=>"$('#{comment_div_id}').value=''" -%>
</div>