<% expertise_list=person.expertise -%>

<div id="expertise">
  
    <p>
      <label>Interests, knowledge & expertise:</label>

      <%  if expertise_list.blank? -%>
        <span class='none_text'>Not known</span>
      <% else %>

        <% for expertise in expertise_list  -%>

          <%= link_for_tag expertise, :type=>:expertise, :truncate_length=>150 -%>
          <% unless expertise==expertise_list.last %>
            |
          <% end %>
        <% end %>
      <% end %>
    </p>
 
  </div>
