<% if user_signed_in? -%>
  <% if controller.action_name == "show" %>
    <% if !mine?(@person) -%>
      <li class="normal-border-top-grey"><%= icon "show", person_url(current_user.person), "View your profile", nil, "View your profile" %></li>
    <% end -%>
  <% end %>
  <% if controller.action_name != "show" %>
    <li class="normal-border-top-grey"><%= icon "show", person_url(current_user.person), "View your profile", nil, "View your profile" %></li>
  <% end %>
  <% if controller.action_name != "edit" %>
    <li class="normal-border-top-grey"><%= icon "edit", edit_person_url(current_user.person), "Edit your profile", nil, "Edit your profile" %></li>
  <% end %>
<% end %>

