<%= will_paginate @people, :param_name=>'page' %>
<div style="text-align: center; margin: 0.5em;">
	<%= page_entries_info @people %>
</div>
<div class="asset-resource-list">
      	<%= render :partial => "assets/resource_list", :locals => { :collection => @people, :authorization_for_showing_already_done=>true} %>
</div>
<%= will_paginate @people, :param_name=>'page' %>
