<% if logged_in? -%>
        <li class="normal-border-top-grey"><%= icon "new", new_survey_url, "Create a new survey", {:title=>"Add a new survey to MethodBox"}, "Create a new survey" %></li>
        <li class="normal-border-top-grey"><%= icon "new", nesstar_datasource_surveys_url, "Add a new datasource", {:title=>"Add a new Nesstar datasource to MethodBox"}, "Add a new datasource" %></li>
        <% if controller.action_name == "show" %>
          <% if current_user.is_admin? && @survey.survey_type.is_ukda %>
            <li class="normal-border-top-grey"><%= icon "new", url_for({:action => "new", :controller=> "datasets",:survey => @survey.id}), "Add a dataset to this survey", {:title=>"Upload a new dataset from file for this survey"}, "Add a dataset to this survey" -%></li>
          <% elsif Authorization.is_authorized?("edit", nil, @survey, current_user) %>
            <li class="normal-border-top-grey"><%= icon "new", url_for({:action => "new", :controller=> "datasets",:survey => @survey.id}), "Add a dataset to this survey", {:title=>"Upload a new dataset from file for this survey"}, "Add a dataset to this survey" -%></li>
          <% end %>
        <% end %>
<% end %>
