<% if logged_in? -%>
<div class="sidebar-bg">
  <div class="sidebar">
    <ul class="vbuttons">
        <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:MethodsAndScripts:CreatingNewMethodsAndScripts', "Help on Methods and Scripts", nil, "Help on Methods and Scripts" -%></li>
    </ul>
  </div>
</div>
<% end -%>
