<div class="sidebar-bg">
  <div class="sidebar">
    <ul class="vbuttons">
      <% if logged_in? -%>
        <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:MethodsAndScripts:CreatingNewMethodsAndScripts', "Help on Methods and Scripts", nil, "Help on Methods and Scripts" -%></li>
      <% end -%>
      <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:Searching', "Help on searching for Methods and Scripts", nil, "Help on searching for Methods and Scripts" -%></li>
    </ul>
  </div>
</div>
