<% if user_signed_in? -%>
<li class="normal-border-top-grey">
<span id="add-method-button" class="yui-button yui-link-button">
    <span class="first-child">
        <a href="<%= new_script_url %>" title="Add a new method, script or syntax file">Add a method</a>
    </span>
</span>
</li>
<% end %>

