<li title='Did you find this resource useful, let others know'><%= link_to_remote('<img alt="Thumbs up" src="/images/famfamfam_silk/thumb_up.png" /> I like this', 
:url => {:action => 'thumbs_up', :id => item.id }) -%></li>
