<li title='Not sure about this resource any more?'><%= link_to_remote("<img alt='Thumbs down' src='/images/famfamfam_silk/thumb_down.png'/> Don't like this any more", 
:url => {:action => 'thumbs_down', :id => item.id }) -%></li>
