<div class="center"><% form_tag '/search/' do -%>
  <%= hidden_field_tag 'search_type', 'publications' -%>
  <%= text_field_tag :search_query, @search_query, :class=>"search_button" -%>
  <%= submit_tag "Search for publications" ,:title=> "Enter a term and click to search all publications" -%>
<% end  -%>
</div>
