<% if logged_in? -%>
	<li class="normal-border-top-grey"><%= icon "new", new_publication_url, "Add a new publication", {:title=>"Fetch publication details from PubMed"}, "Add a publication" %></li>
<% end %>
