<div>
  <ul class="sectionIcons">
    <li><%= icon('previous', help_scripts_path, 'Help with sharing knowledge', nil, 'Previous') -%></li>
  </ul>
</div>
<div class="contents" style="border: 2px black solid;">
  <%= image_tag("MethodBox_scripts_help2.png",:size=>"900x700", :alt=>"Help with sharing knowledge", :title=>"Get help with sharing your knowledge and expertise") -%>
</div>