<div>
  <ul class="sectionIcons">
    <li><%= icon('next', help2_scripts_path, 'Help with uploading files', nil, 'Next') -%></li>
  </ul>
</div>
<div class="contents" style="border: 2px black solid;">
  <%= image_tag("MethodBox_scripts_help.png",:size=>"900x700", :alt=>"Help with sharing knowledge", :title=>"Get help with sharing your knowledge and expertise") -%>
</div>