<div style="z-index: 1;">
<div class="myexperiment_gadget" style="width:30%;float:right; z-index: 1;">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="header">
<p style="font-size:1.5em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">Who?</p>
</div>
<div class="contents">
<div>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;"> MethodBox is brought to you by a team from the <a href = "http://www.manchester.ac.uk">University of Manchester</a> in the UK, led by <a href="http://www.manchester.ac.uk/research/carole.a.goble/">Carole Goble</a>, <a href="http://www.manchester.ac.uk/research/Buchan/">Iain Buchan</a> and <a href="http://www.manchester.ac.uk/research/angela.dale/">Angela Dale</a>.
</p>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">MethodBox is part of the <a href="http://www.mygrid.org.uk">myGrid consortium</a>, which brought you the <a href="http://www.mygrid.org.uk/taverna">Taverna Workflow Workbench</a> for creating and executing scientific workflows, <a href="http://www.myexperiment.org">myExperiment</a> for sharing workflows and <a href="http://www.biocatalogue.org">Bio-catalogue</a> for curating life science web-services.</p>
</div>
</div>
<b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>

<div class="myexperiment_gadget" style="float: left; width:65%; margin-left: 1em; z-index: 1;">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="header">
 <p style="font-size:1.5em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">About</p>
</div>
<div class="contents">
<div>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">MethodBox enables you to <%= link_to "browse", surveys_url -%> and download datasets, share methods and scripts, find fellow researchers with similar interests and share your knowledge.</p>
</div>
</div>
<b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>

<div class="myexperiment_gadget" style="float: left; width:65%; margin-left: 1em; margin-top: 1.5em; z-index: 1;">
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div class="header">
 <p style="font-size:1.5em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;">Why?</p>
</div>
<div class="contents">
<div>
<p style="text-align:left;font-size:1.3em;padding-left:3px;font-family:'Trebuchet MS',Arial,Helvetica,Verdana,sans-serif;"><%= link_to "Finding", surveys_url -%> the variables you need to support a particular research question can be time consuming.  Wading through hundreds of pages of PDF documents, codebooks and metadata and then trying to find the exact column in a huge spreadsheet can be often be time consuming.  MethodBox gets you to the variables faster and lets you download only the data you need.  You can also share your scripts with others to allow them to adopt best practice quicker than before.</p>
</div>
</div>
<b class="xbottom"><b class="xb5"></b><b class="xb6"></b><b class="xb7"></b><b class="xb1"></b></b>
</div>
</div>
<div style="clear:both;">
</div>