<% if logged_in? %>
	<br/>
	<p style="text-align:center;">You are already logged in.</p>
	<p style="text-align:center;"><%= link_to "Sign out", logout_url %></p>
<% else %>
	<br/>
		<div>
		<%= render :partial => "about_us" %>
		</div>
<% end %>