<h3>Data Extract failure</h3>

<p>Hi <%= @name %>,</p>

<p>Your data extract, <%= @data_extract.title %>, failed to create.
The error was <%= @error %></p>

<p>- The MethodBox Team</p>

<%= render :partial => "disclaimer" -%>
