<h3>Dataset processed</h3>

<p>Hi <%= @name %>,</p>

<p>Your dataset, <%= @dataset.name %>, has been processed and is ready for download.
Find it at <%= dataset_url @dataset %></p>

<p>- The MethodBox Team</p>

<%= render :partial "disclaimer" -%>