<h3>Metadata processed</h3>

<p>Hi <%= @name %>,</p>

<p>Your new metadata for dataset, <%= @dataset.name %>, has been processed.

Find the dataset at <%= dataset_url(@dataset) %></p>

<p>- The MethodBox Team</p>

<%= render :partial "disclaimer" -%>