<h3>Nesstar Catalogs Processing Error</h3>

<p>Hi <%= @name %>,</p>

<p>There was an error processing your Nesstar Catalogs.  The error was: <%= @error -%>

<p>- The MethodBox Team</p>

<%= render :partial => "disclaimer" -%>
