
thead {
 background-color: #AA0000;
 margin: 0;
 padding: 0;
}

td {
 margin: 0;
 padding: 4px;
}

td.sortup {
 background-color: #DD0000;
}

td.sortdown {
 background-color: #FF0000;
}

thead a {
 color: #FFFFFF;
 font-weight: bold;
 text-decoration: none;
}

tr.odd {
 background-color: #EEEEEE;
}
