<div class="sidebar-bg">
  <div class="sidebar">
    <ul class="vbuttons">
      <% if logged_in? -%>
        <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:DataExtracts', "Help on creating and using data extracts", nil, "Help on creating and using data extracts" -%></li>
      <% end -%>
      <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:Searching', "Help on searching for Data Extracts", nil, "Help on searching for Data Extracts" -%></li>
    </ul>
  </div>
</div>
