<div>
  <ul class="sectionIcons">
    <li><%= icon('previous', help_csvarchives_path, 'Help with creating a data extract', nil, 'Previous') -%></li>
  </ul>
</div>
<div class="contents" style="border: 2px black solid;">
  <%= image_tag("MethodBox_cart_help2.png",:size=>"900x700", :alt=>"Help with downloading", :title=>"Get help with creating new data extracts and downloading things using methodbox") -%>
</div>