<% if !logged_in? -%>
	<div class="header-breadcrumbs">
		<div>
		<% if @breadcrumbs %>
			<ul>
				<% @breadcrumbs[0..-2].each do |txt, path| %>
					<li><%= link_to(h(txt), path) %></li>
				<% end %>
				<li><%= h(@breadcrumbs.last.first) %></li>
		<% end %>
			</ul>
		</div>
	</div>
<% end -%>