	<p style="text-align: center;">	<%= image_tag("dsrlogo.png",:alt=>"MethodBox is supported by Digital Social Research",:title=>"Digital Social Research",:height=>70) -%>
		</p>
<p style="text-align: center;">The MethodBox/Obesity eLab project is funded by the <%= link_to 'ESRC', 'http://www.esrc.ac.uk/' -%> 
	</p>
	<p style="text-align: center;">	<%= link_to image_tag("esrc_logo.gif",:alt=>"www.esrc.ac.uk",:title=>"ESRC",:height=>70), 'http://www.esrc.ac.uk/' -%>
		</p>
<p style="text-align: center;">
  <%= link_to image_tag("logomanchester.gif", :alt=>"The University of Manchester",:title=>"The University of Manchester",:height => 70), 'http://www.manchester.ac.uk/' %>
</p>
<p class="copyright">Copyright (c) 2008 - 2010</p>

