<div style="float: left;">
	<%= link_to image_tag("box_transparent.png",:alt=>"www.methodbox.org",:title=>"Methodbox",:height=>70, :style=>"margin-right: 3em;"),root_path -%>
</div>
<div id="welcome-text" style="font-size: 20px; margin-top: 0.5em ;margin-right: 3em;">
	<b>Browse</b> <i>datasets</i>, <b>shop</b> for <i>variables</i> and <b>share</b> your <i>knowledge</i>.
</div>
<% if logged_in? -%>
	<!-- <div style="position:absolute;bottom:-1.75em;right:0.5em;"> -->
    <%#= render :partial=>"search/search_bar" -%>
	<!-- </div> -->
<% end -%>
