<div class="contents" style="border: 2px black solid;">
  <%= image_tag("MethodBox_variables_help.png",:size=>"900x700", :alt=>"Help with searching for variables", :title=>"Get help with searching surveys for variables") -%>
</div>