<% if @tag -%>
  <h2><%= "Variables tagged with '"+h(@tag)+"' ... " -%></h2>
<% end %>

<% if @variables.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @variables } -%>
<% end %>

<%= render :partial => "resource_list_item", :collection=>@variables %>

<% if @variables.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @variables } -%>
<% end %>