<% if !@results.empty? %>
<h2>The latest things inside the MethodBox are shown below</h2>
<br/>
  <% resource_hash = classify_for_tabs @results -%>
  <%= render :partial => "assets/resource_listing_tabbed_by_class", :locals => { :asset_hash => resource_hash,
    :narrow_view => true,
    :authorization_already_done => true } -%>
<% else %>
<h2>There are currently no items to view</h2>
<% end %>

