<div class="left">
<div class="yui-skin-sam" id="info-carousel">
	<div id="container">
	    <ol>
	        <li>blah 1</li>
			<li>blah2</li>
	    </ol>
	</div>
</div>
<div id="video" style="padding: 10px;">
<div style="background-color: #ACCBE0; border-top-left-radius: 10px; font-size: larger; padding-bottom: 5px; padding-top: 5px; text-align: center;">Learn how to use MethodBox to find data
</div>
<iframe width="560" height="315" src="<%= ROUTES_PROTOCOL -%>://www.youtube.com/embed/uGHYb7CfLRM" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="right">
<div id="about">
	about
</div>
<div id="who">
	who
</div>
</div>
<script type="text/javascript">
var carousel = new YAHOO.widget.Carousel("container", {
    isCircular: true // for a circular Carousel
});
carousel.render();
carousel.show();
</script>
