<% authorization_for_showing_already_done ||= false -%>
<% unless collection.empty? -%>
<% if collection.methods.include?('total_pages') && paginate-%>
  <%= will_paginate collection, :param_name => collection.first.class.name.downcase + '_page', :params=>{:search_query => @search_query} %>
<% end -%>
<ul>
<% collection.each do |item| -%>

			<% if authorization_for_showing_already_done || Authorization.is_authorized?("show", nil, item, current_user) -%>
				<% if item.class.name == "Variable" %>
				  <% if Authorization.is_authorized?("show", nil, item.dataset.survey, current_user) %>
				    <li>
					  <%= render :partial => "#{item.class.name.pluralize.underscore}/resource_list_item", :locals => {:item=>item} -%>
				    </li>
				  <% end %>	
				<% else -%>
					<li>
						<%= render :partial => "#{item.class.name.pluralize.underscore}/resource_list_item", :locals => {:item=>item} -%>
					</li>
				<% end -%>            
			<% end %>
	<% end %>
</ul>
<% if collection.methods.include?('total_pages') && paginate -%>
  <%= will_paginate collection, :param_name => collection.first.class.name.downcase + '_page', :params=>{:search_query => @search_query} %>
<% end -%>
<% end -%>

