<div class="sidebar-border">
<div class="sidebar">
  <ul class="vbuttons">
    <% if user_signed_in? -%>
      <% if controller.action_name == "show" %>
        <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:Surveys:CreatingNewSurveys', "Help on adding new " +  SURVEY.pluralize + " and " + DATASET.pluralize , nil, "Help on adding new " + SURVEY.pluralize + " and " + DATASET.pluralize -%></li>
      <% end %>
      <% if controller.action_name == "new" %>
        <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:Surveys:CreatingNewSurveys', "Help on adding new " +  SURVEY.pluralize + " and " + DATASET.pluralize , {:title=>"Help on adding new " + SURVEY.pluralize + " and " + DATASET.pluralize}, "Help on adding new " + SURVEY.pluralize + " and " + DATASET.pluralize -%></li>
      <% end -%>
    <% end -%>
        <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:Surveys', "Help on searching for variables", {:title=>"How to find " + SURVEY.pluralize  + " and " + DATASET.pluralize + " and search for variables"}, "Help on finding " + SURVEY.pluralize + " and " + DATASET.pluralize + " and searching for variables" -%></li>
  </ul>
</div>
</div>
