<div id="table_header" class="faux_table_header_container">
  <%= render :partial => "table_header", :locals=>{:sorted_variables => sorted_variables} -%>
</div>
<div id="table_container" class="faux_table_container">
  <%= render :partial => "table", :locals=>{:sorted_variables => sorted_variables ,:lineage => false, :extract_lineage => false, :extract_id => nil} -%>
</div>