 <%#= javascript_include_tag 'jquery-1.3.2.min.js', 'jquery.jqGrid.min.js', 'grid.locale-en.js' -%>
    <%#= stylesheet_link_tag 'ui.jqgrid', 'jquery-ui-1.8rc3.custom' -%>
<%= jqgrid_stylesheets %>
<%= jqgrid_javascripts %>
<%= stylesheet_link_tag 'grid_style'%>

<script type="text/javascript">
  jQuery.noConflict();

  // Use jQuery via $jquery(...)

</script>
<%=jqgrid("Variables", "variable_grid", "/surveys/search_stuff?query=#{@query}#{@dataset_request}",
  [
    #{ :field => "id", :label => "ID", :width => 35, :resizable => false, :formatter=>"link", :link=>"/variables"},
    { :field => "name", :label => "Name", :width=>100},
    { :field => "value", :label => "Description", :width=>250 },
    { :field => "category", :label => "Category", :width=>100 }
  ],
  { :selection_handler => "handleSelection", :multi_selection => true }
)%>


<table id="variable_grid" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="variable_grid_pager" class="scroll" style="text-align:center;"></div>
<%#*<br />%>
<%#*<a href="javascript:void(0)" id="m1">Get Selected id's</a>%>
<%#*<a href="javascript:void(0)" id="m1s">Select(Unselect) row 13</a>%>

