<div>
  <ul class="sectionIcons">
    <li><%= icon('next', help2_surveys_path, 'Help with search terms', nil, 'Next') -%></li>
  </ul>
</div>
<div class="contents" style="border: 2px black solid;">
  <%= image_tag("MethodBox_surveys_help.png",:alt=>"Help with browsing surveys", :size=>"900x700", :title=>"Get help with browsing surveys and uploading new datasets") -%>
</div>