<div class="sidebar-bg">
  <div class="sidebar">
    <ul class="vbuttons">
        <li><%= icon "help", 'http://wiki.methodbox.org/index.php/UserGuides:Groups', "Help on creating groups", {:title=>"Creating groups of users to share resources with"}, "Help on creating groups" -%></li>
    </ul>
  </div>
</div>
