<% if @groups.empty? %>
<% if user_signed_in? %>
<h1>There are no groups inside the MethodBox.</h1>
<p class="center">Why not <%= link_to "create one", new_work_group_url -%></p>
<% else %>
<h1>There are no groups inside the MethodBox.</h1>
<% end %>
<% else %>
<% if @groups.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @groups } -%>
<% end %>
<div class="no-bg asset-resource-list">
<%= render :partial => "assets/resource_list", :locals => { :collection => @groups, :authorization_for_showing_already_done=>false } %>
</div>
<% if @groups.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @groups } -%>
<% end %>
<% end %>
