
<% unless session[:cart].items.empty? %>
  <table>
    <% session[:cart].items.each do |item|%>
      <tr style="text-align:left;">
        <td style="width:10px;text-align:left;">
<%= check_box_tag "cart_ids[]", item -%>
</td>
        <td style="width:30px;text-align:left;">
<%= Variable.find(item).name -%>
</td>
        <td style="width:30px">
<%= Survey.find(Variable.find(item).survey_id).year -%>
        </td>
      </tr>
    <% end %>
  </table>
  <% else %>
  No items in cart<br/>
<% end %>
