
<% unless current_user.cart_items.empty? %>
  <table>
    <% current_user.cart_items.each do |item|%>
      <tr style="text-align:left;">
        <td style="width:10px;text-align:left;">
<%= check_box_tag "cart_ids[]", item -%>
</td>
        <td style="width:30px;text-align:left;">
<%= item.variable.name -%>
</td>
        <td style="width:30px">
<%= item.variable.survey.year -%>
        </td>
      </tr>
    <% end %>
  </table>
  <% else %>
  No items in cart<br/>
<% end %>
