<div class="sidebar">
	<ul class="vbuttons">
<% if logged_in? -%>
	<% if current_user.is_admin? %>
	  <li><%= icon "new", new_survey_path, "Create a new survey", nil, "Create a new survey" %></li>
	<li><%= icon "new", url_for({:action => "new", :controller=> "datasets",:survey => @survey.id}), "Add a dataset to this survey", nil, "Add a dataset to this survey" -%></li>
	<% end -%>
<% end %>
	</ul>
</div>