<div class="center normal-margin-top normal-margin-bottom bold">
	Showing categories and surveys for <%= survey_type.name -%>
</div>
<% unless all_categories.empty? %>
<div id="survey_ids">
<ul class="buttons">
<% surveys.each do |survey_id| %>
	<% survey = Survey.find(survey_id) %>
	<li>
	<%= check_box_tag "survey_ids[]", survey.id, false %>
	<%= survey.title %>
	</li>
<% end %>
</ul>
</div>
<div class="right" id="variables_list" style="width:80%;">
</div>
<div id="categories_list" style="width:15%;list-style:none;">
<ul>
<% puts all_categories.size.to_s %>
<% all_categories.each do |category| -%>
<% category %>
<li><%= link_to_remote(category, :url=>{:action=>"find_for_multiple_surveys_by_category", :controller=>"variables", :category=>h(category)}, :submit=>'survey_ids', :title=>"Show all variables with this category for selected surveys", :before => "Element.show('spinner')",:success => "Element.hide('spinner')") -%></li>
<% end -%>
</ul>
</div>
<div style="clear:both;">
</div>
<% else %>
<div class="center normal-margin-top bold warning-message">
There are no categories for this survey type
</div>
<% end %>