<div style="margin-top:0;-moz-border-radius:6px; -moz-box-shadow: 1px 1px 3px #777777; border: 1px solid #C0C4C6; color: #000000; padding: 10px; padding-bottom: 0; background-color: #FFFFFF">
	<div style="text-align:right; background-color: #FFFFFF;">
		<%= link_to image_tag("close.gif", :alt => "Close help box"), "#", :onclick => "closePopup('help_box'); return false;" %>
	</div>
   <p>
     <h3>Single word term:              </h3>
     Returns all objects that contain this word
   </p>
   <p>
     <h3>Multiple word term:</h3>
     Returns all objects that contain the whole term including spaces and punctuation.
     Similar to a google search in quotation marks.
   </p>
   <p>
     <h3>Two terms seperated with " or ":</h3>
     Returns all objects that contain either term.
     Similar to a google search without quotation marks.
   </p>
   <p>
     <h3>Two terms seperated with " and ":</h3>
     Returns only objects that contain both terms in any order, with or without other text between them.</li>
   </p>
   <b><%= link_to "More help?", help2_surveys_url %></b>

</div>