<div class="contents" style="border: 2px black solid;">
  <%= image_tag("MethodBox_surveys_help.png",:alt=>"Help with browsing surveys", :size=>"900x700", :title=>"Get help with browsing surveys and uploading new datasets") -%>
</div>