/* margins */
.no-margin {
  margin: 0;
}
.normal-margin-bottom {
  margin-bottom: 1em;
}
.normal-margin-left {
  margin-left: 1em;
}
.small-margin-bottom {
  margin-bottom: 0.5em;
}
/* end of margins */

/*padding */
.medium-padding {
  padding: 5px;
}
.big-padding-top {
  padding-top: 8em;
}
.medium-padding-bottom {
  padding-bottom: 3em;
}
.medium-padding-top {
  padding-top: 3em;
}
.medium-padding-left {
  padding-left: 3em;
}
.normal-padding-top {
  padding-top: 1em;
}
.normal-padding-bottom {
  padding-bottom: 1em;
}
.normal-padding-left {
  padding-left: 1em;
}
.normal-padding-right {
  padding-right: 1em;
}
.small-padding-top {
  padding-top: 0.5em;
}
.small-padding-bottom {
  padding-bottom: 0.5em;
}
.small-padding-left {
  padding-left: 0.5em;
}
/* end of padding */
