<div class="myexperiment_gadget">
  <b class="xtop" style="background-color: #ACCBE0;"><b class="xb1" style="background-color: #ACCBE0;"></b><b class="xb2" style="background-color: #ACCBE0;"></b><b class="xb3" style="background-color: #ACCBE0;"></b><b class="xb4" style="background-color: #ACCBE0;"></b></b>
<div class="header" style="background-color: #ACCBE0; background-image: none;">
    Search
  </div>

  <div class="contents">
<%= render :partial=>"search/search_bar" %>
  </div>
</div>