<div class="sidebar-bg">
<div class="sidebar">
  <ul class="vbuttons">
    <li><%= icon "show", surveys_url, "Search for variables", nil, "Search for variables" %></li>
  </ul>
</div>
</div>
<%= render :partial => 'help_sidebar' -%>

