<% if @variables.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @variables } -%>
<% end %>
<div class="asset-resource-list">
  <%= render :partial => "assets/resource_list", :locals => { :collection => @variables, :authorization_for_showing_already_done=>true } %>
</div>
<% if @variables.public_methods.include?("page_count") %>
  <!-- only do the page links if the collection supports it -->
  <%= render :partial => "layouts/paginate", :locals => { :collection => @variables } -%>
<% end %>