<ul class="sectionIcons">
  <li><%= icon('cart', cart_path, "View Cart", {:title => "View cart"},current_user.cart_items.size.to_s + (current_user.cart_items.size > 1 ? " Variables" : " Variable")) -%></li>
</ul>