  <div>
      <div>
      <ul style="margin:0;">
        <li style="list-style: none; display: inline;">
        	<%= link_to "Me", person_url(current_user.person), :title=>"View your profile" -%>
        |</li>
        <li style="list-style: none; display: inline;">
        	<%= link_to current_user.cart_items.size > 0 ? "Variable Cart(" + current_user.cart_items.size.to_s + ")" : "Variable Cart", cart_url, :title => current_user.cart_items.size > 0 ? "You have some variables in your cart" : "There are no variables in your cart" %>
        |</li>
        <li style="list-style: none; display:inline;">
        	<%= link_to "Messages(" + current_user.messages_to.size.to_s + ")", messages_url, :title=> "Read, create and send messages to/from other users" %>
        |</li>
        <li style="list-style: none; display:inline">
          <%= link_to "Logout", logout_url -%>
        </li>
      </ul>
    </div>
	</div>
