  <div class="centered-controls smaller-font small-padding-bottom">
      <ul style="margin:0;">
        <li style="list-style: none; display: inline;">
        	<%= link_to "Me", person_url(current_user.person), :title=>"Hello #{current_user.person.first_name}. View your profile, resources and searches" -%>
        |</li>
        <li style="list-style: none; display: inline;" id="cart-link">
          <%= render :partial=>"cart/cart_link" -%>
        |</li>
        <li style="list-style: none; display:inline">
          <%= link_to "Logout", logout_url , :title=> "Logout and end this MethodBox session. Any variables in your cart will be saved for the next time."-%>
        </li>
      </ul>
	</div>
