<div id="sandbox-header">
<h2>
<span id="warning">Warning:</span>
This is the <%= link_to "MethodBox", 'http://code.google.com/p/methodbox' -%> sandbox environment and is used to test out our latest features before deployment to the main <%= link_to "site", ROUTES_PROTOCOL + '://www.methodbox.org'-%>
</h2>
</div>
