<% unless controller.controller_name =="help" %>
  <div class="sidebar-bg">
    <div class="sidebar">
      <ul class="vbuttons">
          <li><%= icon "help", help_index_url, "General help", {:title=>"Help on using MethodBox"}, "General help" %></li>
      </ul>
    </div>
  </div>
<% end %>



