<% if defined? @atom_feed and !@atom_feed.blank?  %>
  <li><%= icon "feed", @atom_feed, "Updates", nil, "Updates" %></li>
<% end %>
<div class="sidebar-border">
<div class="center small-padding-top">
Latest <%= DATASET.pluralize.downcase -%>
</div>
<div>
<% datasets = Dataset.all(:order => "created_at DESC", :limit => 5) -%>
<ul>
<% datasets.each do |dataset| -%>
  <% if Authorization.is_authorized?("view", nil, dataset.survey, current_user) -%>
    <li><%= link_to dataset.name, dataset_url(dataset) ,{:title=>dataset.description} -%></li>
  <% end -%>
<% end -%>
</ul>
</div>
</div>


