<div class="sidebar">
	<ul class="vbuttons">
		<% unless controller.controller_name =="surveys" || controller.controller_name =="home" %>
		<li><%= icon "show", surveys_url, "Search for variables", nil, "Search for variables" %></li>
		<% end %>
		<% unless controller.controller_name =="help" %>
		<li><%= icon "help", help_index_url, "Get some help", nil, "Get some help" %></li>
		<% end %>
        <% if defined? @atom_feed and !@atom_feed.blank? %>
            <li><%= icon "feed", @atom_feed, "Updates", nil, "Updates" %></li>
        <% end %>
	</ul>
</div>



