<div id="small-hd" class="left">
  <ul style="margin: 0; text-align: center; padding-right: 10px;">
    <li style="list-style: none outside none;"><%= link_to current_user.person.name, person_url(current_user.person), :title=>"Look at your profile&nbsp;" -%></li>
    <li style="list-style: none outside none;"><%= link_to "logout", logout_url -%></li>
  </ul>
</div>
