<div class="center middle-padding" id="welcome-text">
<b>Browse</b> <i><%= SURVEY.pluralize.downcase -%> and <%= DATASET.pluralize.downcase -%></i>, <b>shop</b> for <i>variables</i> and <b>share</b> your <i>knowledge</i>. <b>Search</b> the data catalogues of <%= link_to "ESDS", "http://www.esds.ac.uk", {:title=>"The Economic and Social Data Service"} -%> and other providers.
</div>
